*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  color: white;
  font-family: "Cooper Hewitt", sans-serif;
  font-size: 10px;
}

/*To make the screen size the same as iPhone 8*/
.appview {
  margin: 30px auto;
  height: 667px;
  overflow: auto;
  width: 375px;
}

/*To hold iPhone status bar*/
.statusbar {
  background-color: #0B3C5D;
  height:20px;
}

/* Holds icons and header text */
nav {
  background-color: #0B3C5D;
  position: relative;
  height: 44px;
}

/*Bus stop header*/
nav h1 {
  position: absolute;
  bottom: 7px;
  left: 0px;
  right: 0px;
  text-align: center;
}

/*Back icon*/
.fas.fa-chevron-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*Menu icon*/
.fas.fa-bars {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

.busimage {
  background: url("../images/busstop.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
}

.upcomingarrival {
  background-color: #D0B410;
  height: 44px;
  margin: -1px auto;
  padding-left: 15px;
  padding-top: 15px;
}

/* "Upcoming Arrivals" header text */
.upcomingarrival h2 {
  color: #090C10;
  display: inline-block;
  font-weight: 500;
}

/* Box for each bus line */
.businfo {
  background-color: #0B3C5D;
  border-bottom: 1px solid #80808038;
  height: 44px;
}

.businfo > * {
  float: left;
}

.busnumber {
  padding-top: 14.5px;
  padding-left: 15px;
  width: 20%;
}

.busdirection {
  line-height: 1.4em;
  padding-top: 9px;
  width: 53%;
  letter-spacing: 1px;
}

.oos {
  line-height: 1.6em;
  padding-top: 6px;
}

/* make destination somewhat bold */
.busdirection h3 {
  font-size: 1.2em;
  font-weight: 600;
}

.direction {
  display: inline;
  font-size: 1.0em;
}

.bustime {
  line-height: 1.3em;
  padding-top: 9px;
}

/* Green text for minutes */
.bustime h3 {
  color: #ADDB8E;
  display: inline-block;
  font-weight: 600;
}

.NA {
  padding-top: 15px;
}
.NA h3 {
  color: white;
  font-weight: normal;
}

/* red background around out of service */
mark {
  background-color: #8B0000;
  color: white;
  padding: 0px 2px;
}

/* red border around reroute */
.reroute {
  display: inline;
  border: 2px solid #8B0000;
  padding: 0px 3px;
  font-weight: 400;
}
